.productsList
{
    margin: 10px;
    display: inline-block;
}

.product input
{
    display: none;
}

.product input:checked + .tele
{
    display: block;
}

.tele,
.tele:hover
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.3);
    z-index: 99999;
    display: none;
}

.tele img
{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 99%;
    max-height: 99%;
    margin: auto;
}

.product
{
    display: none;
}

img
{
    max-width: 300px;
    max-height: 200px;
}

img:hover + figure,
figure:hover
{
    display: block;
    position: absolute;
    z-index: 10;
    margin-top: -250px;
    margin-left: -50px;
}

figure img:active ~ .tele
{
    display: block;
}

figure
{
    z-index: 100;
    display: none;
    border: thin solid black;
    width: 400px;
    background: white;
}

figcaption
{
    margin: 10px;
}

figure img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    max-height: 250px;
}

.cross
{
    height: 100px;
    width: 100px;
    top: 0;
    right: 0;
    position: absolute;
}

.cross::after
{
    content: '\274c';
    position: absolute;
    margin: 10px;
    color: red;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
}

input.radio1:checked ~ .productsList .product:nth-child(-n+4),
input.radio2:checked ~ .productsList .product:nth-child(n+4)
{
    display: inline-block;
}

.ltrArrow
{
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 100px 50px;
    border-color: transparent transparent transparent #80807c;
}

.rtlArrow
{
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 50px 100px 0;
    border-color: transparent #80807c transparent transparent;
}
