body
{
    margin: 200px auto;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.gallery
{
    height: 300px;
    display: inline-block;
}

input
{
    position: absolute;
    opacity: 0;
}

.select label 
{
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: relative;
    width: 20px;
    border: 2px solid rgb(93, 93, 93);
    border-radius: 20px;
}

.radio1:checked ~ .select label:nth-of-type(1),
.radio2:checked ~ .select label:nth-of-type(2),
.radio3:checked ~ .select label:nth-of-type(3)
{
    background-color: rgb(90, 90, 90);
}

.radio1:checked ~ .gallery > .card:nth-of-type(2),
.radio1:checked ~ .gallery > .card:nth-of-type(4),
.radio1:checked ~ .gallery > .card:nth-of-type(6),
.radio1:checked ~ .gallery > .card:nth-of-type(8)
{
    display: inline-block;
}

.radio2:checked ~ .gallery > .card:nth-of-type(8),
.radio2:checked ~ .gallery > .card:nth-of-type(10),
.radio2:checked ~ .gallery > .card:nth-of-type(12),
.radio2:checked ~ .gallery > .card:nth-of-type(14)
{
    display: inline-block;
}

.radio3:checked ~ .gallery > .card:nth-of-type(14),
.radio3:checked ~ .gallery > .card:nth-of-type(16),
.radio3:checked ~ .gallery > .card:nth-of-type(18),
.radio3:checked ~ .gallery > .card:nth-of-type(20)
{
    display: inline-block;
}

.fs:checked + .fullscreen
{
    display: block;
}

.card
{
    position: relative;
    width: 240px;
    display: none;
    vertical-align: middle;
}

.card:hover > .description
{
    display: block;
}

.mainImg
{
    max-height: 300px;
    max-width: 240px;
}

.description
{
    position: absolute;
    display: none;
    padding: 16px;
    width: 240px;
    background-color: rgb(41, 41, 41);
    color: white;
    box-shadow: 1px 1px 20px black;
    top: -16px;
    left: -16px;
    text-align: justify;
    z-index: 99;
}

.fullscreen
{
    position: absolute;
    display: none;
    background-color: rgba(17, 17, 17, .9);
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.fullscreen label
{
    color: white;
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    cursor: pointer;
    top: 1px;
    right: 4px;
}

.fullscreenImg
{
    max-width: 60%;
    max-height: 60%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
