.main
{
    text-align: center;
}

.title
{
    color: #008000;
}

.arrow-left:after,
.arrow-right:after
{
    position: fixed;
    top: 20%;
    font-size: 2em;
    cursor: pointer;
}

.arrow-left:after
{
    content: '◀';
    left: 2%;
}

.arrow-right:after
{
    content: '▶';
    right: 2%;
}

.paranja
{
    display: none;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
}

.cross
{
    width: 4%;
    position: fixed;
    top: 2%;
    left: 95%;
    opacity: 1;
    cursor: pointer;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
}

.cross::before
{
    content: '\2626';
}

.image
{
    width: 90%;
}

.description
{
    display: none;
    width: 90%;
    margin: 5%;
}

.content
{
    display: inline-block;
    vertical-align: top;
    width: 20%;
}

.content:hover
{
    box-shadow: 0 0 5px #000;
}

.content:target .image
{
    width: 30%;
    z-index: 1;
    position: fixed;
    left: 35%;
    cursor: default;
}

.content:target ~ .paranja,
.content:target ~ .cross,
.content:hover .description,
.first-page-slider:checked ~ .first-page,
.second-page-slider:checked ~ .second-page,
.third-page-slider:checked ~ .third-page
{
    display: block;
}

.first-page,
.second-page,
.third-page,
.input,
.content:target .description,
.first-page-slider:checked ~ .arrow-left,
.first-page-slider:checked ~ label[for='third'],
.second-page-slider:checked ~ label[for='second'],
.third-page-slider:checked ~ .arrow-right,
.third-page-slider:checked ~ label[for='first']
{
    display: none;
}
