html,
body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.gallery
{
    position: relative;
    top: 10rem;
    text-align: center;
}

.gallery-item
{
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.item-content img
{
    width: 90%;
}

input,
section[class^='page-'],
.item-description,
.big-image-container
{
    display: none;
}

.item-content:hover
{
    position: relative;
    z-index: 1;
    left: -15%;
    width: 130%;
    background-color: #f5f5f5;
    box-shadow: 0 0 7px #808080;
}

.item-content:hover .item-description
{
    display: block;
    width: 90%;
    margin: 0 auto;
}

input[id='show-page-1']:checked ~ .gallery .page-1,
input[id='show-page-2']:checked ~ .gallery .page-2
{
    display: block;
}

input[id^='big-image-']:checked ~ .item-content .big-image-container
{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, .8);
}

input[id^='big-image-']:checked ~ .item-content .big-image-container img
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-height: 100%;
}

input[id^='big-image-']:checked ~ .item-content .close-label:before
{
    content: '\2715';
    position: fixed;
    top: 0;
    right: 2%;
    color: #fff;
    font-size: 3rem;
}

label[class$='-arrow']:before
{
    position: relative;
    top: 5rem;
    font-size: 50px;
}

.left-arrow:before
{
    content: '\2190';
    right: 4%;
}

.right-arrow:before
{
    content: '\2192';
    left: 4%;
}
