.name,
.description,
input[name='2'],
label[for='close'],
label[id='front-1'],
label[id='front-2'],
input[name='1'],
.prev,
.next,
.bigPhoto
{
    display: none;
}

.prev,
.next
{
    position: absolute;
    font-size: 30px;
    height: 50px;
    margin-top: 3.5%;
}

.next
{
   right: 1%;
}

.bigPhoto
{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .75);
}

.bigPhotoImg
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 80%;
}

.page1,
.page2
{
    margin-top: 12%;
    margin-left: 4%;
    margin-right: 5%;
}

.item
{
    display: inline-block;
    margin-left: 7%;
    vertical-align: top;
}

.photo
{
    max-width: 200px;
}

.item:hover > .name,
.item:hover > .description
{
    display: block;
}

.item:hover > .description
{
    margin-left: 10%;
}

.item:hover
{
    background-color: #fff7f2;
    box-shadow: 0 0 3px #420;
}

.name
{
    text-align: center;
}

input[id='front-1']:checked ~ .page2,
input[id='front-2']:checked ~ .page1
{
    display: none;
}

label[for='close']
{
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 50px;
    color: white;
}

label
{
    cursor: pointer;
}

.bigPhotoInput:checked + .bigPhoto
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.bigPhotoInput:checked ~ .page1,
.bigPhotoInput:checked ~ .page2,
.bigPhotoInput:checked ~ .next,
.bigPhotoInput:checked ~ .prev
{
    display: none !important;
}

input:not([id='close']):checked ~ label[for='close'],
figure:hover figcaption
{
    display: block;
}

input[id='front-1']:checked ~ .page-1,
input[id='front-2']:checked ~ .page-2,
input[id='front-1']:checked ~ .prev[for='front-2'],
input[id='front-1']:checked ~ .next[for='front-2'],
input[id='front-2']:checked ~ .prev[for='front-1'],
input[id='front-2']:checked ~ .next[for='front-1']
{
    display: inline-block;
}
