html
{
    background-color: #fff;
    font-size: 18px;
    color: #222831;
    font-family: 'Roboto', sans-serif;
}

.market
{
    margin: 250px auto;
    text-align: center;
}

.radio
{
    text-align: center;
}

.radio label
{
    cursor: pointer;
}

.market-el
{
    display: none;
    border-radius: .5rem;
    height: 100%;
    width: 280px;
    margin: 1rem;
    padding: .5rem;
    background: #fff;
    box-shadow: 0 0 4rem #d1d1d1;
    vertical-align: top;
}

.header
{
    font: bold 2rem 'Days One', sans-serif;
}

.el-photo
{
    min-height: 200px;
    border-radius: .5rem;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
}

.el-desc
{
    position: relative;
    width: 100%;
    margin: 0;
    display: none;
}

.el-desc-body
{
    margin: 0 0 .5rem;
    font-size: .9rem;
}

.big-size
{
    display: none;
}

.hide
{
    display: block;
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    z-index: 1;
    color: #fff;
    font-size: 2rem;
}

.big-size
{
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .75);
}

.big-size > img
{
    z-index: 10;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 800px;
    max-height: 600px;
    position: absolute;
}

input[name='big-image']
{
    opacity: 0;
    position: absolute;
}

input[name='big-image']:checked html
{
    background-color: #222831;
}

input[name='big-image']:checked + .big-size
{
    display: block;
}

input[name='select']
{
    display: none;
}

.market-el:hover .el-desc
{
    display: block;
}

.radio-one:checked ~ .market .market-el:nth-child(-n + 10)
{
    display: inline-block;
}

.radio-one:checked ~ .radio .label-one
{
    color: red;
}

.radio-two:checked ~ .market .market-el:nth-child(n+11)
{
    display: inline-block;
}

.radio-two:checked ~ .radio .label-two
{
    color: red;
}
